<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Naruto_logo.svg/1200px-Naruto_logo.svg.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Bem-vindo ao APP Naruto</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Este app tem o intuito de contar a história dos personagens do Anime NARUTO.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>HAHAHAHAAH</ion-label>
      </ion-list-header>
      <img src="../../assets/imgs/Naruto-Clássico.jpg">
    </ion-list>
</ion-content>
